body {
  background-color: #84c6c6;
}

a {
  color: #002f8c;
}

h1 {
  text-align: center;
  color: #002f8c;
}

h2 {
  text-align: left;
  color: #002f8c;
}

p {
  text-align: center;
  color: #002f8c;
}
